@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-body-bg: #F4F9FF;
    --color-index-bg: #FFFFFF;
    --font-black: #333333;
    --color-line: #DEDEDE;

}

body {
    font-size: 14px;
    color: var(--font-black);
    line-height: 17px;
    font-weight: 400;
    background: var(--color-body-bg);
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

h2,h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

h2 {
    margin-bottom: 17px;
}

ul {
    list-style: none;
}

li {
    padding: 13px 0;
}

li:first-child {
    padding-top: 0;
}

li:last-child {
    padding-bottom: 0;
}

a {
    color: var(--font-black);
    text-decoration: none;
    border-bottom: 1px solid var(--font-black);
    padding-bottom: 4px;
}

header {
    width: 100%;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin: 30px auto;
    padding: 35px 0;
}

.header-inner {
    width: clamp(355px, 100%, 1000px);
    margin: 0 auto;
    padding: 45px 0 0;
}

.logo {
    width: 140px;
    padding: 15px 0;
}

.main-visual {
    width: clamp(355px, 100%, 1000px);
    max-height: 400px;
}

.section-inner {
    width:clamp(279px, 74%, 600px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#index {
    background: var(--color-index-bg);
}

#detail .section-inner,
.footer-inner{
    width: clamp(295px, 78%, 600px);
}

.flex-r {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.flex-r > div {
    width: calc(50% - 30px);
}

.flex-c {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer-inner {
    font-size: 10px;
    padding: 17px 0;
    margin: 0 auto;
}

thead tr {
    display: inline-block;
    padding-bottom: 26px;
}

tbody {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    display: inline-block;
}

th {
    width: 100%;
}

td {
    display: inline-block;
}

tr td:first-child {
    width: 50px;
}

tr td:last-child {
    width: calc(100% - 50px);
}

@media screen and (max-width:1024px) {
    .header-inner,
    .main-visual {
        padding-left: 10px;
        padding-right: 10px;
    }

    .flex-r > div {
        width: 100%;
    }

    .flex-r {
        gap: 28px;
    }
}